<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>oops 404</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/bundles/dwdadmin/css/404.css" type="text/css" />
</head>


<body>
<div class="wrap">
    <div class="logo">
        <p>OOPS! - Could not Find it</p>
        <img src="/bundles/dwdadmin/images/404.png"/>
        <div class="sub">
            <p><a href="{{ path('dwd_admin_homepage') }}">Back </a></p>
        </div>
    </div>
</div>


<div class="footer">

</div>

</body>