<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>{{ enviroment }} | {{ service_name }} | {% block title %}Welcome{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/bundles/dwdadmin/css/bootstrap.min.css" rel="stylesheet" />


    <link href="/bundles/dwdadmin/css/sb-admin.css" rel="stylesheet" />
    <link href="/bundles/dwdadmin/css/morris-0.4.3.min.css" rel="stylesheet" />

    <link href="/bundles/dwdadmin/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/bundles/dwdadmin/css/general-styles.css" type="text/css" />

    <!-- Page Specific CSS -->
    {% block stylesheets %}

    {% endblock %}

    <!-- JavaScript -->
    {% javascripts
    '@DWDAdminBundle/Resources/public/js/jquery-1.11.0.min.js'
    '@DWDAdminBundle/Resources/public/js/bootstrap.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>

<body>

<div id="wrapper">
    {% block navigation %}
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('dwd_admin_homepage') }}">{{ service_name }}</a>
        </div>

        {% set navigation_bar = [
        [path('dwd_admin_homepage'), '<i class="fa fa-dashboard"></i> Home'],
        ]%}
        {% set active_page = active_page|default('dwd_admin_homepage') %}
        {% set active_url = path(active_page) %}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                {% for item in navigation_bar %}
                    <li{% if item[0] == active_url %} class="active"{% endif%}>
                        <a href="{{ item[0] }}">{{ item[1]|raw }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    {% endblock navigation %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1>{% block page_header %}{% endblock page_header %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
        {% block content %}

        {% endblock content %}
            </div>
        </div>
    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->


{% block scripts %}{% endblock scripts %}
</body>
</html>