{% block custom_scripts %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#sandbox_configuration').hide();
            setTimeout(function () {
                jQuery('#api_endpoint').val('/proxyapi/?url=').css('display', 'none');
            }, 1000)
        })
    </script>
{% endblock custom_scripts %}