{% extends '::base.html.twig' %}

{% block navigation %}{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}


    <div class="container width400">
        {% if error %}
            <p class="text-danger">{{ error.message }}</p>
        {% endif %}
            <form class="form-signin" role="form" action="{{ path('login_check') }}" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input id="_username" name="_username" type="text" value="{{ last_username }}" class="form-control" placeholder="User name" required autofocus>
                <input id="_password" name="_password" type="password" class="form-control" placeholder="Password" required>
                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                <label for="remember_me">Keep me logged in</label><br/>
                <a href="{{ path('passlost') }}">Forgot Password</a>
                <button id="login"  name="login" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

    </div>
{% endblock content %}