{% set active_page = 'dwd_admin_homepage' %}
{% extends '::base.html.twig' %}
{% block title %}Home page{% endblock %}
{% block page_header %}{{ service_name }}{% endblock %}
{% block content %}
Hello!
{% endblock content %}