{% extends '::base.html.twig' %}

{% block navigation %}{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}


    <div class="container" style="width:400px;">
        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
        {% if success %}
            <p class="text-success">E-mail with new password was sent, try to  <a href="{{ path('login') }}">login again</a></p>
        {% endif %}
        <form class="form-signin" role="form" action="{{ path('passlost') }}" method="post">
            <h2 class="form-signin-heading">Please type your email</h2>
            <input id="_email" name="_email" type="email" value="" class="form-control" placeholder="email" required autofocus>
            <br />
            <button id="restore"  name="restore" class="btn btn-lg btn-primary btn-block" type="submit">Restore</button>
        </form>

    </div>
{% endblock content %}